body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4c4b53;
}
.welcome-message {
    text-align: center;
    color: #ffffff;
}
.portfolio-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.portfolio-button:hover {
    background-color: #9290a0;
}
